# Client: {{.Name}}  Generated: {{.Timestamp}}
client
dev tun
proto {{.Proto}}
remote {{.PublicIP}} {{.Port}}
resolv-retry infinite
nobind
persist-key
persist-tun
remote-cert-tls server

# Security
cipher {{.Cipher}}
{{if .DataCiphers}}data-ciphers {{.DataCiphers}}
{{end}}allow-compression no

{{if .RouteNoPull}}# Routes managed locally
route-nopull
route {{.Network}} {{.Netmask}}
{{end}}
verb {{.Verb}}

{{if .RDPEnabled}}# RDP/performance optimizations
fast-io
sndbuf {{.SndBuf}}
rcvbuf {{.RcvBuf}}
tun-mtu {{.TunMTU}}
mssfix {{.MSSFix}}
{{end}}
