# Generated {{.Timestamp}}
port {{.Port}}
proto {{.Proto}}
dev tun

ca "{{.ConfigDir}}\ca.crt"
cert "{{.ConfigDir}}\server.crt"
key "{{.ConfigDir}}\server.key"
dh "{{.ConfigDir}}\dh.pem"
{{.TLSLine}}
crl-verify "{{.ConfigDir}}\crl.pem"

server {{.Network}} {{.Netmask}}
topology {{.Topology}}
persist-key
persist-tun

cipher {{.Cipher}}
auth {{.Auth}}
keepalive {{.Keepalive}}
{{if .FastIO}}fast-io
{{end}}sndbuf {{.SndBuf}}
rcvbuf {{.RcvBuf}}
push "sndbuf {{.SndBuf}}"
push "rcvbuf {{.RcvBuf}}"

status "{{.LogsDir}}\openvpn-status.log"
log    "{{.LogsDir}}\openvpn.log"
verb {{.Verb}}
{{if .PushRoutes}}
{{.PushRoutes}}
{{end}}
